<!DOCTYPE html>
<html lang="en">
<head>
  <title>VoterBoi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
        background-image: url("bkg.jpg");
        background-color: #cccccc;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="HomePage.html">VoterBoi</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="HomePage.html">Home</a></li>
        <li><a href="vote.html">Vote</a></li>
        <li><a href="report.html">Report</a></li>
        <li><a href="upload.html">Upload</a></li>
        <li><a href="/submissions">Submissions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>




<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">Login</div>
  <div class="panel-body">
  <p>Enter Username and Password</p>
    <form action="/login" method="post">
      <div>
        <label for="username">Username: <input type="text" name="username"></label>
      </div>
      <div>
        <label for="password">Password: <input type="text" name="password"></label>
      </div>
      <div>
        <input type="submit" value="Sign In">
      </div>
      <div id="signin-error">
        <p><%=@error%></p>
      </div>
    </form>
  </div>
</div>

</body>
</html>
