<!DOCTYPE html>
<html lang="en">
<head>
  <title>VoterBoi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
        background-image: url("bkg.jpg");
        background-color: #cccccc;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/HomePage">VoterBoi</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/HomePage">Home</a></li>
        <li><a href="/vote">Vote</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/submissions">Submissions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>




<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">Report</div>
  <div class="panel-body">
    <div id="table-container">
      <table style="width:50%" id="vote-table">
        <tr>
          <th>User</th>
          <th>Vote</th>
        </tr>
        <% @arr.each do |g| %>
          <tr>
            <td><%=g[0]%></td>
            <td><%=g[1]%></td>
          </tr>
        <% end %>
      </table>
      <div id="download-report">
        <form action="/report" method="post">
          <input type="submit" value="Download Report">
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
