<p>Enter Username and Password</p>
<form action="/signup" method="post">
    <div>
        <label for="username">Username: <input type="text" name="username"></label>
    </div>
    <div>
        <label for="password">Password: <input type="text" name="password"></label>
    </div>
    <div>
        <input type="submit" value="Sign Up">
    </div>
    <div id="signup-error">
        <p><%=@error%></p>
    </div>
</form>