<iframe src="/<%=@item%>" height="500" width="1700"></iframe>

<% if not_voted? %>
    <% if not admin? %>
      <div id="vote-container">
        <form action="/submissions" method="post" id="upVote" name="upVote">
          <div id="up-voter">
            <div>
              <input type="hidden" name="up" value="<%=@voteID%>">
              <a href="#" onclick="vote_up();">Vote Up</a>
            </div>
          </div>
        </form>
      </div>
    <% end %>
<% end %>

<div>
  <h2>Current score is: <%=@value%></h2>
</div>

<script type="text/javascript" charset="utf-8">
    function vote_up() {
        document.forms["upVote"].submit();
    }

</script>